.topNav > li {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
}

.cnavbar {
  font-family: 'Times New Roman', Times, serif;
}

.clickdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#navname {
  font-size: 1em;
}

@media (min-width: 450px) {
  #navname {
    font-size: 3em;
  }
}

@media (min-width: 650px) {
  #navname {
    font-size: 6em;
  }
}

